<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>03F2CACB-0D94-434B-BFCC-48DD8CED53A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD560F14-F8EB-475F-AB0F-CC23D5EBDA89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>091EEC82-494D-4CB2-B55E-172F982CA833</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70495765-3A80-4041-9879-544B455CA3FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>16BAD2E5-4DF5-4459-A200-F88601920418</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0A7A797-D30F-4C1E-B927-16C452001D8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>42EEFA95-0B30-4EC8-A13B-22F720FFBFFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>551B77E3-3099-43C1-8B08-B4322A2B0E1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6F3BD9EF-B075-4391-AC0E-E37E290EDDDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>447A5F41-BA36-4457-BEDC-402FE5113F40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A339D0E9-651B-4E2B-B03D-42AEC241B4A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>944D1F52-9C03-495B-9A30-AE38AE4B0C72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A5530FAC-6638-4A05-862C-49734238AE99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA2B448C-8674-4C9F-A4F7-D36F032EC052</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E2D34EA2-17C9-416F-95E6-3D638168C8A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2C67776-DF4A-4919-8CCB-BD48F7DD2CB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Pier Bover</string>
	<key>description</key>
	<string>Access to Google Apps</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Apps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gmail</string>
				<key>text</key>
				<string>Open Gmail</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>03F2CACB-0D94-434B-BFCC-48DD8CED53A1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://mail.google.com</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CD560F14-F8EB-475F-AB0F-CC23D5EBDA89</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://docs.google.com</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>944D1F52-9C03-495B-9A30-AE38AE4B0C72</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>docs</string>
				<key>text</key>
				<string>Open Google Docs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A339D0E9-651B-4E2B-B03D-42AEC241B4A3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sheets</string>
				<key>text</key>
				<string>Open Google Sheets</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E2D34EA2-17C9-416F-95E6-3D638168C8A1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://docs.google.com/spreadsheets/</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C2C67776-DF4A-4919-8CCB-BD48F7DD2CB5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>calendar</string>
				<key>text</key>
				<string>Open Google Calendar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6F3BD9EF-B075-4391-AC0E-E37E290EDDDF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://calendar.google.com/</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>447A5F41-BA36-4457-BEDC-402FE5113F40</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://inbox.google.com</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E0A7A797-D30F-4C1E-B927-16C452001D8A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>inbox</string>
				<key>text</key>
				<string>Open Google Inbox</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>16BAD2E5-4DF5-4459-A200-F88601920418</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>slides</string>
				<key>text</key>
				<string>Open Google Slides</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A5530FAC-6638-4A05-862C-49734238AE99</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://docs.google.com/presentation/</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EA2B448C-8674-4C9F-A4F7-D36F032EC052</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>drive</string>
				<key>text</key>
				<string>Open Google Drive</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>091EEC82-494D-4CB2-B55E-172F982CA833</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://drive.google.com</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>70495765-3A80-4041-9879-544B455CA3FF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://photos.google.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>551B77E3-3099-43C1-8B08-B4322A2B0E1C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>photos</string>
				<key>text</key>
				<string>Open Google Photos</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>42EEFA95-0B30-4EC8-A13B-22F720FFBFFB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03F2CACB-0D94-434B-BFCC-48DD8CED53A1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>091EEC82-494D-4CB2-B55E-172F982CA833</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>16BAD2E5-4DF5-4459-A200-F88601920418</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>42EEFA95-0B30-4EC8-A13B-22F720FFBFFB</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>447A5F41-BA36-4457-BEDC-402FE5113F40</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>551B77E3-3099-43C1-8B08-B4322A2B0E1C</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>6F3BD9EF-B075-4391-AC0E-E37E290EDDDF</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>70495765-3A80-4041-9879-544B455CA3FF</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>944D1F52-9C03-495B-9A30-AE38AE4B0C72</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A339D0E9-651B-4E2B-B03D-42AEC241B4A3</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A5530FAC-6638-4A05-862C-49734238AE99</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>C2C67776-DF4A-4919-8CCB-BD48F7DD2CB5</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>CD560F14-F8EB-475F-AB0F-CC23D5EBDA89</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E0A7A797-D30F-4C1E-B927-16C452001D8A</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>E2D34EA2-17C9-416F-95E6-3D638168C8A1</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>EA2B448C-8674-4C9F-A4F7-D36F032EC052</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
